.Products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cartMain {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.wrapper {
  display: flex;
  margin: 20px 0px;
  width: 250px;
  min-width: 150px;
  max-width: 300px;
  border: 1px solid #ccc;
  box-shadow: 1px 5px 15px black;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 0% 0% 2.5% 2.5%;
}
